/* General Body Styles */
body {
    font-family: 'Cairo', sans-serif;
    background: url('old-paper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #9b4dca; /* Bright Purple for text */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

/* Container for Centering Content */
.container {
    max-width: 800px;
    width: 100%;
}

/* Title Styles */
h1 {
    font-size: 2em;
    font-family: 'Amiri', serif;
    color: #e3c2f9; /* Bright Purple */
    margin-bottom: 20px;
}

/* Poetry Style */
#poetry {
    font-size: 1.5em;
    color: #bc70ee; /* Bright Purple */
    margin-bottom: 20px;
}

/* Button Style */
button {
    background-color: #d7a46f;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Amiri', serif;
}

button:hover {
    background-color: #c4925a;
}
